

.title{
    text-align: center;
    margin-bottom: 15vh;
}
.itemArea{
    display: grid;
    grid-template-columns: 12vw 12vw 12vw 12vw 12vw;
    width: 60vw;
    margin:0 auto;
}
.gridIcon{
    max-width: 5vw;
    max-height: 3.5vw;
    margin: 0 auto;
    margin-bottom: 2vh;
}
.itemIcon{
    text-align: center;
    width: 100%;
    min-height: 20vh;
    background: #FFFFFF;
    box-shadow: 0 0.7em 3em rgb(0 0 0 / 8%);
    border-radius: 0.7em;
    display: inline-grid;
    align-content: center;
}
.counterIcon{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.boton-left{
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC;
    width:3vw;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}
.boton-right{
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC;
    width:3vw;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.boton-left:hover{
    background-color: #afadad;
}
.boton-right:hover{
    background-color: #afadad;
}
.counterNmb{
    background-color: #FFFFFF;
    width:100%;
    height: auto;
    border-radius:2px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.counterNmb>h4{
    margin-bottom: 3px;
}
.calculate{
    width:60vw;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.clearBox{
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #FD9255;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center

}

.calculateBox{
    width: 200px;
    height: 60px;
    background: #FD9255;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #9f4e1f 
}
.calculateBox:hover{
    background: #d1601f ;
}
.clearBox:hover{
    background:rgb(222, 223, 223)
}
.result{
    margin:0 auto;
    align-content: center;
    width:20vw
}
.totals{
    display: flex;
    justify-content: space-between;
}
.summary{
    text-align: center;
    margin-bottom:35px;
}

