.footerArea{
    width:100%;
    padding: 3vh 10vw;
    height: auto;
    background-color: #FD9255;
    display: grid;
    grid-template-columns: auto auto auto 14vw;
    color:white;
    margin:auto;
    align-items: center;
}
.infoIcons{
    display: inline-grid;
    justify-content: center;
    width: 13vw
}
.icons{
    margin-top:40px;
    width:auto;
    display:flex;
}
.icon{
    border: 3px solid #FFFFFF;
    border-radius: 38px;
    width: 36.32px;
    height: 36px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
}

ul{
    padding-left:0px;
}
ul>li{
    display:flex;
}